@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar (Agar rapi saat scroll slot waktu) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Efek Kaca (Glassmorphism) */
.glass {
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}